.button {
    border-size: 10px
}

button.hover {
    background-color: blue
}

body {
    background-image: url("parkimage.jpg");
    background-repeat: no-repeat;
    background-size: 1300px 900px;
}
#park-results {
    text-color:red
}
